*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8%;
    background-color: transparent;
    z-index: 1;
}

#lnav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    font-family: gilroy;
    width: 15%;
    height: 100%;
    line-height: 22px;
    color: orangered;
}

#lnav h6{
    font-family: gilroy;
    word-spacing: 25px;
}

#rnav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    height: 100%;
    font-size: 17px;
    margin-right: 20px;
    color: #fff;
    z-index: 5;
}

span{
    border: 2px solid #fff;
    border-radius: 15px;
    padding: 1px 5px;
}

#top{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 60%;
}

#tright{
    position: absolute;
    right: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1650518488914-30875970f10e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fGNvZmZlZSUyMHNlZWRzfGVufDB8MHwwfGJsYWNrfA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-position: center;
    background-size: cover;
    opacity: .6;
}

#tleft{
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #fff;
    left: 0%;
    top: 0%;
}

#timg{
    position: absolute;
    width: 300px;
    height: 340px;
    background-image: url(https://images.unsplash.com/photo-1584695930358-3255ec241088?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=347&q=80);
    background-position: center;
    background-size: cover;
    background-color: black;
    z-index: 1;
}

#icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 20%;
    height: 5%;
    right: 3%;
    bottom: 15%;
    color: #fff;
    font-size: 15px;
}

#bottom{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 40%;
    background-color: #fff;
    bottom: 0%;
}

#bimg{
    width: 340px;
    height: 260px;
    margin-right: 360px;
    background-image: url(https://images.unsplash.com/photo-1623945007530-546f9f52297a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1012&q=80);
    background-position: center;
    background-size: cover;
}

#imgtext{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    font-family: Chalmette Demo;
    color: black;
    font-size: 8.5px;
    bottom: 16%;
    left: 38%;
}
#btext{
    position: absolute;
    top: 20%;
    margin-left: 280px;
    font-family: voyage;
    font-weight: 100;
}

#btext h1{
    font-size: 60px;
    line-height: 60px;
    word-spacing: 5px;
}

#btext p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    margin-top: 15px;
    font-weight: 700;
}

#ttext{
    position: absolute;
    width: 40%;
    left: 10%;
    top: 25%;
    font-family: Chalmette Demo;
}

#ttext h1{
    font-size: 35px;
    word-spacing: 5px;
}

#ttext p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

#bicons{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 25%;
    bottom: 0%;
    left: 50.5%;
    margin-bottom: 8px;
}

#lbicons,#rbicons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 100%;
    font-size: 35px;
}

#cbicons{
    width: 1px;
    height: 100%;
    background-color: black;
}

#lbicons p,#rbicons p{
    font-family: gilroy;
    font-weight: 700;
    font-size: 12px;
    margin-top: 8px;
}